*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#eef5f7;
    padding:20px;
}

.container{
    max-width:1400px;
    margin:auto;
}

h1{
    text-align:center;
    color:#10105e;
    font-size:55px;
    margin-bottom:10px;
}

h2{
    text-align:center;
    color:#2f8f4e;
    margin-bottom:20px;
}

.info-box{
    width:60%;
    margin:0 auto 20px auto;
    background:white;
    border:2px solid #d8d8d8;
    border-radius:12px;
    padding:15px;
    text-align:center;
    font-size:22px;
    font-weight:bold;
}

.main{
    display:flex;
    gap:20px;
}

/* SIMULATION AREA */

.simulation{
    flex:3;
    height:600px;
    background:linear-gradient(#b8e4ff,#d9f3ff);
    border-radius:25px;
    border:2px solid #cfd8dc;
    position:relative;
    overflow:hidden;
}

.message-box{
    position:absolute;
    left:20px;
    top:20px;
    background:white;
    padding:15px;
    border-radius:15px;
    border:2px solid #999;
    width:220px;
    text-align:center;
    line-height:1.7;
    z-index:5;
}

/* HILL */

.hill{
    width:800px;
    height:400px;
    background:#5fae37;
    border-radius:50% 50% 0 0;
    position:absolute;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
}

.ball{
    width:70px;
    height:70px;
    background:red;
    border-radius:50%;
    position:absolute;
    top:-35px;
    left:365px;
    box-shadow:0 0 15px rgba(0,0,0,.4);
}

/* CONTROLS */

.controls{
    flex:1;
    background:white;
    border-radius:20px;
    border:2px solid #d8d8d8;
    padding:25px;
}

.controls h3{
    margin-bottom:25px;
    color:#1d3557;
}

.controls label{
    display:block;
    margin-top:20px;
    margin-bottom:8px;
    font-size:18px;
    font-weight:bold;
}

.controls span{
    float:right;
    color:#2f8f4e;
}

.controls input{
    width:100%;
}

button{
    width:100%;
    padding:14px;
    border:none;
    border-radius:10px;
    color:white;
    font-size:18px;
    cursor:pointer;
    margin-top:20px;
}

button:first-of-type{
    background:#2ea44f;
}

.reset{
    background:#1565c0;
}

/* ENERGY CARDS */

.cards{
    display:flex;
    gap:20px;
    margin-top:20px;
}

.card{
    flex:1;
    background:white;
    padding:25px;
    border-radius:20px;
    border:2px solid #d8d8d8;
    text-align:center;
}

.card h3{
    margin-bottom:15px;
}

.card p{
    font-size:36px;
    font-weight:bold;
}

/* BOTTOM SECTION */

.bottom{
    display:flex;
    gap:20px;
    margin-top:20px;
}

.graph-box{
    flex:1.4;
    background:white;
    border-radius:20px;
    border:2px solid #d8d8d8;
    padding:20px;
}

.how{
    flex:1;
    background:white;
    border-radius:20px;
    border:2px solid #d8d8d8;
    padding:20px;
}

.how h3{
    margin-bottom:15px;
    color:#1d3557;
}

.how p{
    margin-bottom:15px;
    font-size:18px;
    line-height:1.6;
}

canvas{
    width:100% !important;
    height:300px !important;
}